@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--background-color: #fff;
	--text-color: #1f1534;
	--secondary-text-color: #034C8C;
	--secondary-color: #035AA6;
	--border-color: #e5e9f6;
	--gradient-color: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
	--footer-background-color: #ededed;
	--footer-title: #484848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img:hover {
	cursor: pointer;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: var(--background-color);
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: normal;
}

header,
.commitments-block,
.goals-block,
.diversity-block,
.diversity-policy-block,
.collaborators-block {
	display: grid;
	max-width: 800px;
	margin: 0 auto;
}

header::after,
.commitments-block::after,
.goals-block::after,
.diversity-block::after,
.diversity-policy-block::after,
.collaborators-block::after {
	content: "";
	display: table;
	clear: both;
}

/* Header */
header {
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top: 26px;
}

header img {
	width: 178px;
	height: 41px;
}

header nav ul li:first-child {
	font-weight: bold;
}

header nav ul li {
	display: inline;
	margin-right: 13px;
	font-style: normal;
	font-weight: normal;
}

header nav ul li a {
	color: var(--text-color);
	text-decoration: none;
}

header nav ul li a:hover {
	color: var(--secondary-text-color);
}

/* Diversity */
.diversity-block {
	grid-template-columns: repeat(2, 2fr);
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap: 4em;
	grid-row-gap: 1em;
}

.diversity-image {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	width: 400x;
	margin-top: 66px;
}

.diversity-block .diversity-h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 33px;
	line-height: 40px;
	margin-top: 106px;
}

.diversity-block .diversity-h1 span {
	color: var(--secondary-text-color);
}

.diversity-block .diversity-text {
	color: #27252c;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	text-align: justify;
}

.diversity-block::after {
	content: "";
	display: table;
	clear: both;
}

/* Commitments
.commitments {
    width: 100%;
    background-color: var(--secondary-color);
}
*/
.commitments-block {
    color: white;
	grid-template-columns: repeat(2, 2fr);
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.commitments-block img {
	display: block;
	margin: auto;
}

.commitments-block p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	text-align: justify;
}

.commitment-text {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
}

.commitment-1,
.commitment-2,
.commitment-3,
.commitment-4 {
	border: 1px solid var(--border-color);
	border-radius: 20px;
	padding: 1em;
	background-color: #fff;
	color: var(--text-color);
}

.commitment-1 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

.commitment-2 {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.commitment-2 p {
	padding-top: 26px;
}

.commitment-3 {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}

.commitment-4 {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
}

/* Goals */
.goals-block {
	grid-template-columns: repeat(2, 2fr);
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.goals-block img {
	width: 333px;
}

.goal-text {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
	grid-row-start: 1;
	grid-row-end: 2;
}

.goal-1 {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
	grid-template-columns: repeat(2, 1fr);
}

.goal-1 .goal-1-text {
	text-align: left;
	margin-top: 66px;
	font-weight: 400;
	font-size: 24px;
}

.goal-1 .goal-1-text span,
.goal-2-text span {
	color: var(--secondary-text-color);
}

.goal-2 {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: center;
	grid-template-columns: repeat(2, 1fr);
}

.goal-2 .goal-2-text {
	text-align: right;
	margin-top: 66px;
	font-weight: 400;
	font-size: 24px;
}

/* Diversity Policy */
.diversity-policy-block {
	grid-template-columns: repeat(2, 2fr);
	background: var(--gradient-color);
	border-radius: 24px;
}

.diversity-policy-block img {
	width: 333px;
	margin: 26px;
	margin-top: 53px;
}

.diversity-policy-text {
	padding-top: 66px;
	color: #fff;
}

.diversity-policy-text button {
	margin-top: 26px;
	padding: 13px 26px;
	border: 1px solid #5a98f2;
	border-radius: 55px;
	color: var(--secondary-color);
}

.diversity-policy-text button:hover {
	background: var(--gradient);
	color: white;
}

/* Collaborators
.collaborators {
    width: 100%;
    color: white;
    background-color: var(--secondary-color);
    margin-top: 40px;
}
*/
.collaborators-block {
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.collaborators-block img {
	width: 253px;
}

.collaborators-block h1 {
	font-size: 18px;
	margin-bottom: 5.3px;
	padding-left: 13px;
}

.collaborators-block h2 {
	margin-top: 0;
	padding-top: 0;
	font-size: 13px;
	padding-left: 13px;
}

.collaborators-block p {
	color: #27252c;
	padding-left: 13px;
}

.collaborators-block a {
	padding-left: 13px;
	text-decoration: none;
	color: var(--secondary-color);
}

.collaborators-block button {
	background-color: #e5e5e5;
	color: var(--secondary-color);
	font-size: 15px;
	border-radius: 55px;
	margin-top: 26px;
	padding: 10px 66px;
	border: 1px solid var(--secondary-color);
}

.collaborators-block button:hover {
	background-color: var(--secondary-color);
	color: #fff;
}

.collaborators-text {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: center;
}

.collaborators-button {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: center;
}

.collaborator-1,
.collaborator-2,
.collaborator-3 {
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	padding-bottom: 13px;
}

.collaborator-1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.collaborator-2 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.collaborator-3 {
	grid-column-start: 3;
	grid-column-end: 4;
}

/* Footer */
footer {
	width: 100%;
	background-color: var(--footer-background-color);
    display: flex;
    justify-content: space-between;
}

footer ul li {
    display: inline-block;
	list-style-type: none;
	margin: 1rem 0 0 0;
}

footer div ul li a {
	color: var(--text-color);
	text-decoration: none;
}

footer div ul li a:hover {
	text-decoration: underline;
}

footer .foot-block-1, .foot-block-2 {
    margin-top: 5rem;
}

.foot-block-1 {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.foot-block-1 img {
    width: 162px;
    height: 94px;
}

.foot-block-1 p {
    margin-top: 2rem;
    text-indent: 11px;
}

.foot-block-1 ul li {
	width: 40px;
	height: 40px;
	color: var(--text-color);
	font-size: 35px;
    border: 1px solid #e5e5e5;
	border-radius: 10%;
	line-height: 40px;
	text-align: center;
    margin-right: 15px;
}

.foot-block-1 ul li {
	transition: background-color 0.5s;
}

.foot-block-1 ul li:hover {
	background-color: #e5e5e5;
}

.foot-block-1 ul li a {
	color: #035AA6;
}

.foot-block-2 {
    display: flex;
}

.foot-block-2 p {
	font-weight: 700;
	font-size: 16px;
	color: var(--footer-title);
}

.foot-block-2 ul {
    display: flex;
    flex-direction: column;
}

.foot-1 {
	display: block;
	margin-right: 5rem;
}
.foot-2 {
	display: block;
	margin-right: 5rem;
}
.foot-3 {
	display: block;
	margin-right: 5rem;
}